/* header styles */
.header {
width: 100%;
background-color: #343a40;
}

.header-wrap {
    padding: 30px 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
width: 30%
}

.header-logo-image {
    width: 250px;
}

.nav-bar {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

.nav-item {
    border-radius: 100px;
    background-color: #4c91af96;
    width: 9.5%;
    justify-content: center;
    display: flex;
}

.nav-item a {
    color: #f8f9fa;
    text-decoration: none;
    font-size: 30px;
    align-self: center;
    text-align: center;
    padding: 48px 40px;
}


/* footer styles */
.footer-wrap {
    max-width: 100%;
    padding: 50px 50px;
    background-color: #343a40;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}

.footer-left {
    width: 100%;
    max-width: 27%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    row-gap: 25px;
    text-align: center;
}

.cfg-text-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}
.cfg-text-wrap h4 {
    margin: unset;
    letter-spacing: 1.5px;
    color: #f8f9fa;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.footer-names {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.footer-names h5 {
    margin: unset; 
    font-weight: 400;
    text-decoration: none;
    color: #f8f9fa;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

/* footer menu styles */
.footer-center {
    display: flex;
    justify-content: center;
    align-self: stretch;
    width: 100%;
    max-width: 35%;
    text-align: center;
    row-gap: 25px;
  }
  
  .explore-menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  
  .explore-title {
    margin: unset;
    text-transform: capitalize;
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 1.5px;
    color: #f8f9fa;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
  }

  .nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .explore-item {
    display: inline-block;
    margin: 0 10px;
  }
  
  .explore-item a {
    text-decoration: none;
    color: #f8f9fa;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    transition: font-size 0.2s;
  }
  
  .explore-item a:hover {
    font-size: 18px;
  }

/* Newsletter form styles */
.footer-right {
    width: 100%;
    max-width: 27%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    align-self: stretch;
}

.newsletter-form-wrap {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.form-title {
    margin: unset;
    text-transform: capitalize;
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 1.5px;
    color: #f8f9fa;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.newsletter-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

.newsletter-form button {
    padding: 10px;
    background-color: #4c91af;
    color: #f8f9fa;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #4c91af;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    width: 60%
}

/* Footer responsiveness */
/* Screens less than 992px */
@media (max-width: 991px) {
    .footer-wrap {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 100%;
      gap: 30px;
    }
  
    .footer-left, .footer-center, .footer-right {
      max-width: 100%;
      text-align: center;
    }
  
    .footer-left {
      row-gap: 20px;
    }
  
    .footer-center {
      margin-top: 20px;
    }

    .newsletter-form {
        width: 80%;
    }
  }
  
  /* Screens less than 786px */
  @media (max-width: 785px) {
    .footer-left, .footer-center, .footer-right {
      width: 100%;
    }
  
    .footer-wrap {
      flex-wrap: wrap;
      gap: 20px;
      padding: 20px;
    }
  
    .footer-left {
      row-gap: 15px;
    }
  
    .footer-names, .nav-menu {
      gap: 8px;
      flex-direction: column; /* Change to vertical layout */
    }
  }
  
  /* Screens less than 480px */
  @media (max-width: 479px) {
    .footer-wrap {
      padding: 10px;
    }
  
    .footer-left {
      width: 100%;
      row-gap: 10px;
    }
  
    .footer-center {
      width: 100%;
    }
  
    .newsletter-form {
      flex-direction: column;
    }

    .newsletter-form input[type="email"] {
        border-radius: 5px;
    }
  
    .newsletter-form input[type="email"],
    .newsletter-form button {
      width: 100%;
    }
  
    .newsletter-form button {
      border-radius: 5px;
      margin-top: 10px;
    }
  }
  