/*about page styles*/
.card-img-top {
    max-height: 250px;
    object-fit: cover;
    border-radius: none;
}

.page-subtitle {
    text-align: center;
    max-width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #f8f9fa;
    text-transform: capitalise;
    letter-spacing: 2.5px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.about-content {
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    max-width: 100%;
    color: #f8f9fa;
    margin: 0px;
    letter-spacing: 2px;
    line-height: 24px;
    margin-top: 30px;
}

.card-desc {
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    max-width: 100%;
    color: #f8f9fa;
    margin: 0px;
    letter-spacing: 2px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 20px;
}

#about-column-1 {
    border: 1px solid #ccc!important;
}

.card-body {
    background-color: #426d81;
}

.about-btn {
    padding: 10px 20px;
    background-color: #4c91af;
    color: #f8f9fa;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #4c91af;
    border-radius: 0px;
    cursor: pointer;
    width: 60%;
    text-decoration: none;
}

.about-btn:hover {
    background-color: #255265;
}

.about-card-heading {
    text-align: center;
    max-width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #f8f9fa;
    text-transform: capitalise;
    letter-spacing: 2.5px;
}



/*home page styles*/
#main-body {
    background-image: url("https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1220&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
}

#home-wrap {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1220&q=80");
    max-width: 100%;
    padding: 280px 50px;
    overflow: hidden;
}

#home-text-wrap {
    width: 40%;
}

#home-wrap h2 {
    font-size: 45px;
    margin-bottom: 35px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #343a40;
}

#home-wrap p {
    font-size: 28px;
    margin-bottom: 80px;
    font-family: 'Quicksand', sans-serif;
    color: #343a40;
    font-weight: 400;
}

#home-newsletter-btn {
    padding: 10px;
    background-color: #4c91af;
    color: #f8f9fa;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    padding: 20px 30px;
    font-weight: 500;
    border: 1px solid #4c91af;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    align-self: center;
}

#home-newsletter-btn:hover {
    background-color: #255265;
}

/* home responsiveness */
/* Screens less than 992px */
@media (max-width: 991px) {
    #home-text-wrap {
        width: 60%;
    }
}  

/* Screens less than 768px */
@media (max-width: 767px) {
    #home-text-wrap {
        width: 100%;
        text-align: center;
    }
    #home-wrap {
        justify-content: center;
    }
}  

/* Screens less than 480px */
@media (max-width: 479px) {
    #home-nav {
        max-width: 25%;
        padding: 44px 5px;
    }

    #home-nav-a {
        padding: 0px 0px;
    }

    #nutrition-nav {
        max-width: 25%;
        padding: 44px 5px;
    }

    #nutrition-nav-a {
        padding: 0px 0px;
    }

    #exercise-nav {
        max-width: 25%;
        padding: 44px 5px;
    }

    #exercise-nav-a {
        padding: 0px 0px;
    }

    #social-nav {
        max-width: 25%;
        padding: 44px 5px;
    }

    #social-nav-a {
        padding: 0px 0px;
    }

    #more-nav {
        max-width: 25%;
        padding: 44px 5px;
    }

    #more-nav-a {
        padding: 0px 0px;
    }
}



/* exercise page styles */
.body {
    background-color: #426d81;
    width: 100%;
    margin: 0px;
}

.main-section-class {
    padding: 20px 150px;
    max-width: 100%;
}

.page-title {
    text-align: center;
    max-width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #f8f9fa;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }
  
  .card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .health-card {
    max-width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
  }
  
  .card-subtitle-wrap {
    width: 100%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
  }
  
  .card-subtitle {
    margin: 0px;
    font-size: 24px;
    font-weight: 500;
    color: #f8f9fa;
    letter-spacing: 2px;
  }
  
  .card-image-wrap {
    text-align: center;
  }

  .card-health-image {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    object-fit: cover;
  }
 
  .card-content-wrap {
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .card-content {
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    max-width: 100%;
    color: #f8f9fa;
    margin: 0px;
    letter-spacing: 1.5px;
    line-height: 24px;
  }

  #content-1 ul {
    text-align: left;
  }

  #content-1 li {
    margin-bottom: 20px;
  }

  #content-2 ul {
    text-align: left;
  }

  #content-2 li {
    margin-bottom: 20px;
  }

  #content-3 ul {
    text-align: left;
  }

  #content-3 li {
    margin-bottom: 20px;
  }

  .card-content a {
    color: #f8f9fa;
    transition: all 0.3s ease;
  }

  .card-content a:hover {
    text-decoration: underline;
    font-weight: 500;
    font-size: 20px;
  }
  
  

/* Responsiveness */
/* screensizes less than 1430px */
@media (max-width: 1430px) {
    .card-health-image {
        width: 250px;
        height: 250px;
    }
}

/* screensizes less than 1200px */
@media (max-width: 1430px) {
    #main-section {
        padding: 20px 30px;
    }

    .card-health-image {
        width: 200px;
        height: 200px;
    }
}

/* screensizes less than 992px */
@media (max-width: 991px) {
    #main-section {
        padding: 20px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .health-card {
        max-width: 80%;
    }

    .card-wrap {
        justify-content: center;
        gap: 30px;
    }
    
    #health-card-2 .card-image-wrap {
        order: 2;
      }
      
      #health-card-2 .card-subtitle-wrap {
        order: 1;
      }
      
      #health-card-2 .card-content-wrap {
        order: 3;
      }
}

/* screensizes less than 768px */
@media (max-width: 767px) {
    #main-section {
        padding: 20px 30px;
    }
    .health-card {
        max-width: 100%;
    }
    
}

/* screensizes less than 480px */
@media (max-width: 479px) {
    #main-section {
        padding: 20px 20px;
    }

    .card-health-image {
        width: 250px;
        height: 250px;
    }

    .card-content {
        font-size: 18px;
    }
}


/*nutrition page bootstrap styles changed*/
.background.bg-dark {
    background-color: #426d81!important; 
  }
  
  .background.bg-dark .card-title {
    width: 100%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #f8f9fa;
    letter-spacing: 2px;
  }

  .background.bg-dark .card-text {
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 300;
    font-size: 18px;
    max-width: 100%;
    color: #f8f9fa;
    margin: 0px;
    letter-spacing: 1.5px;
    line-height: 24px; 
  }




/* header styles */
    .header {
        max-width: 100%;
        background-color: #343a40!important;
    }
    
    .header-wrap {
        padding: 20px 50px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .header-logo {
    max-width: 10%
    }
    
    .header-logo-image {
        width: 100px;
    }

    .header-logo-image:hover {
        transform: scale(1.25);
    }
    
    .nav-bar-wrap {
        display: flex;
        flex-wrap: wrap;
        max-width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .nav-bar {
        display: flex;
        max-width: 100%;
        justify-content: flex-end;
        gap: 50px;
    }
    
    .nav-item {
        border-radius: 100px;
        background-color: #4c91af96;
        max-width: 10%;
        justify-content: center;
        display: flex;
        width: 100%;
        transition: all 0.3s ease;
    }

    .nav-item:hover {
        transform: scale(1.25);
    }
    
    .nav-item a {
        color: #f8f9fa;
        padding: 20px 45px;
        text-decoration: none;
        align-self: center;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.5px;
    }
    
    .nav-item:hover a {
        font-size: 18px;
        color: #f8f9fa;
    }
    
 
/* Header responsiveness */
/* Screens less than 992px */
@media (max-width: 991px) {
    .header-wrap {
        padding: 15px 30px;
    }

    .nav-bar-wrap {
        width: 100%;
        justify-content: flex-end;
    }

    .nav-bar {
        gap: 30px;
    }

    .nav-item a {
        font-size: 12px;
    }

    .nav-item:hover a {
        font-size: 13px;
    }
}

/* Screens less than 768px */
@media (max-width: 767px) {
    .header-wrap {
        padding: 10px 20px;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar-wrap {
        width: 100%;
        justify-content: center;
    }

    .nav-bar {
        gap: 20px;
        justify-content: center;
        width: 95%;
    }

    .nav-item {
        height: 50%;
        max-width: 20%;
        padding: 27px 5px;
    }
    .nav-item a {
        font-size: 12px;
        padding: 0px;
    }

    .nav-item:hover a {
        font-size: 12.5px;
    }
    
    .header-logo {
        max-width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

}


/* Screens less than 480px */
@media (max-width: 479px) {
    .header-wrap {
        padding: 5px 10px;
    }
    
    .nav-bar-wrap {
        width: 100%;
        padding-top: 0px;
        align-self: center;
    }

    .nav-bar {
        gap: 15px;
        flex-wrap: wrap;
    }

    .nav-item {
        height: 15%;
        max-width: 20%;
    }

    .nav-item a {
        font-size: 11px;
        padding: 16px 0px;
    }

    .nav-item:hover a {
        font-size: 11.5px;
    }
}


/* footer styles */
#footer-wrap {
    max-width: 100%;
    padding: 50px 50px;
    background-color: #343a40;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}

#footer-left {
    width: 100%;
    max-width: 27%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    row-gap: 25px;
    text-align: center;
}

.cfg-text-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}
.cfg-text-wrap h4 {
    margin: unset;
    letter-spacing: 1.5px;
    color: #f8f9fa;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.footer-names {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.footer-names h5 {
    margin: unset; 
    font-weight: 400;
    text-decoration: none;
    color: #f8f9fa;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.contact-info p {
    margin: unset; 
    font-weight: 400;
    text-decoration: none;
    color: #f8f9fa;
    font-family: 'Quicksand', sans-serif!important;
    font-size: 16px;
}
/* footer menu styles */
#footer-center {
    display: flex;
    justify-content: center;
    align-self: stretch;
    width: 100%;
    max-width: 35%;
    text-align: center;
    row-gap: 25px;
  }
  
  .explore-menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  
  .explore-title {
    margin: unset;
    text-transform: capitalize;
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 1.5px;
    color: #f8f9fa;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
  }

  .nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .explore-item {
    display: inline-block;
    margin: 0 10px;
  }
  
  .explore-item a {
    text-decoration: none;
    color: #f8f9fa;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    transition: font-size 0.2s;
  }
  
  .explore-item a:hover {
    font-size: 18px;
  }

/* Newsletter form styles */
#footer-right {
    width: 100%;
    max-width: 27%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    align-self: stretch;
}

.newsletter-form-wrap {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.form-title {
    margin: unset;
    text-transform: capitalize;
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 1.5px;
    color: #f8f9fa;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.newsletter-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

.newsletter-form button {
    padding: 10px;
    background-color: #4c91af;
    color: #f8f9fa;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #4c91af;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    width: 60%
}

.newsletter-form button:hover {
    background-color: #255265;
}

/* Footer responsiveness */
/* Screens less than 992px */
@media (max-width: 991px) {
    #footer-wrap {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 100%;
      gap: 30px;
    }
  
    #footer-left, #footer-center, #footer-right {
      max-width: 100%;
      text-align: center;
    }
  
    #footer-left {
      row-gap: 20px;
    }
  
    #footer-center {
      margin-top: 20px;
    }

    .newsletter-form {
        width: 80%;
    }
  }
  
  /* Screens less than 786px */
  @media (max-width: 785px) {
    #footer-left, #footer-center, #footer-right {
      width: 100%;
    }
  
    #footer-wrap {
      flex-wrap: wrap;
      gap: 20px;
      padding: 20px;
    }
  
    #footer-left {
      row-gap: 15px;
    }
  
    .footer-names, .nav-menu {
      gap: 8px;
      flex-direction: column;
    }
  }
  
  /* Screens less than 480px */
  @media (max-width: 479px) {
    #footer-wrap {
      padding: 10px;
    }
  
    #footer-left {
      width: 100%;
      row-gap: 10px;
    }
  
    #footer-center {
      width: 100%;
    }
  
    .newsletter-form {
      flex-direction: column;
    }

    .newsletter-form input[type="email"] {
        border-radius: 5px;
    }
  
    .newsletter-form input[type="email"],
    .newsletter-form button {
      width: 100%;
    }
  
    .newsletter-form button {
      border-radius: 5px;
      margin-top: 10px;
    }
  }

/* social health page css */
/** {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
.container {
    width: 100%;
    background-color: rgb(33, 32, 32);
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

nav {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A8C4C3
}

.logo {
    width: 30%;
    margin-left: 300px;
}

.navbar-links {
    width: 50%;
}


ul {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

ul li { 
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 70px;
    list-style-type: none;
    margin-top: 0.3em;
    
}

ul li { 
  height: 60px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 40%;
  border: 1px solid black;
  background-color: pink;
  transition: 0.4s;
}

ul li:hover { 
    background: darkmagenta;
}

.logo h1 {
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 1em;
}

a {
    text-decoration: none;
    color: black;
    transition:all 0.4s linear
}

a:hover {
    color: white;
}

#one {
    width: 27%;
    position: absolute;
    top: 170px;
    margin-left: 2em;
    color: whitesmoke;
}

#two {
    width: 30%; 
    position: absolute;
    left: 500px;
    bottom: 55px;
    color: whitesmoke;
}

#three {
    width: 27%; 
    position: absolute;
    left: 1000px;
    bottom: 300px;
    color: whitesmoke;
}

#h1 {
    position: absolute;
    top: 120px;
    margin-left: 3.5em;
    color: #A8C4C3;
}

#h3 {
    position: absolute;
    left: 640px;
    bottom: 600px;
    color: #A8C4C3;

}

#h3 { 
    position: absolute;
    left: 1100px;
    bottom: 600px;  
    color: #A8C4C3;
}

#imageone { 
    position: relative;
    left: 1em;
    top: 400px; 
}

#imagetwo { 
    position: relative;
    left: 580px; 
    bottom: 100px; 
}

#imagethree { 
    position: relative;
    left: 1100px; 
    bottom: 50px;
}

footer { 
    background-color: #A8C4C3;
    padding-top: 30px;
    text-align: center;
    overflow: hidden;
}

#subscribe {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    position: relative;
    left: 500px;
    bottom: 9em;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
}

.form-box {
    padding: 3px;
    margin-left: 620px ;
    margin-right: 600px;
    border-radius: 5px;
    background: #ececec;
    box-shadow: 3px 3px 5px #c7c4c4, -3px -3px 5px #fff;
}

.form-box input {
    font-size: 12px;
    color: black;
    padding: 3px 5px;
    border: none;
    outline: none;
    background: #ececec;
}

.form-box button {
    color: #fff;
    padding: 5px 8px;
    font-size: 11px;
    border: none;
    border-radius: 5px;
    background: pink;
    cursor: pointer;
    transition: 0.3s;
}

.form-box button:hover {
    background: purple;

}

.form-box {
    position: relative; 
    left: 500px;
} */
